*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(244, 244, 244, 0.622);
    position: relative;
    width: 500px;
}

nav{
    background-color: #fff;
    box-shadow: 0 0 5px gray;
    padding: 1rem;
    text-align: center;
}

main{
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.tab{
    background-color: rgb(220, 220, 220);
    display: inline-flex;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.tab i{
    cursor: pointer;
}

.hint{
    color: gray;
    text-transform: capitalize;
    text-decoration: underline;
}

section{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
}

section p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: black;
}

section p i {
    color: #fff;
}

div{
    display: flex;
    align-items: center;
    gap: 20px;
}

div input{
    border-radius: 7px;
    border: 2px solid;
    padding: 10px 10px;
}

aside{
    display: flex;
    align-items: center;
    gap: 30px;
}

aside input:checked::after{
    border: 2px solid black;
}

aside input{
    position: relative;
    cursor: pointer;
}

aside input::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.redc::after{
    background-color: #FF3946;
}

.yellowc::after{
    background-color: #e9ff70;
}

.greenc::after{
    background-color: #7cffc4;
}

.add-btn {
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: rgba(75, 75, 225, 0.901);
    box-shadow: 3px 3px 5px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
}

.add-btn i {
    font-size: 50px;
}

.add-btn:active{
    box-shadow: 0 0 0;
}

#highlightButton{
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(75, 75, 225, 0.901);
    color: #fff;
    letter-spacing: 2px;
    font-size: medium;
    cursor: pointer;
    box-shadow: 2px 2px 7px gray;
    transition: all .2s linear;
}

#highlightButton:active{
    box-shadow: 0 0 0;
}